---
layout: default
title: GitLab Recognized as a July 2019 Gartner Peer Insights Customers’ Choice for Enterprise Agile Planning Tools
suppress_header: true
extra_css:
  - styles-2018.css
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline GitLab Recognized as a July 2019 Gartner Peer Insights Customers’ Choice for Enterprise Agile Planning Tools

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Gartner defines enterprise agile planning (EAP) tools as tools that help organizations to make use of agile practices at scale to achieve enterprise-class agile development. This is achieved by supporting practices that are business-outcome-driven, customer-centric, collaborative and cooperative, as well as with continual stakeholder feedback.
            
            %p The Gartner Peer Insights Customers' Choice distinction is based on feedback and ratings from end-user professionals who have experience purchasing, implementing and/or using the product or service.

            %h3 What you’ll learn in this Voice of the Customer report:
            %ul
              %li What is the criteria for the Gartner Peer Insights Customers’ Choice
              %li Why did GitLab qualify for this distinction
              %li How customers view GitLab relative to other vendors Gartner evaluated in the space

            %p Download the report to learn why GitLab received this peer distinction.

          .font-small
            %p https://www.gartner.com/reviews/customers-choice/enterprise-agile-planning-tools. Gartner Peer Insights Customers' Choice constitute the subjective opinions of individual end-user reviews, ratings, and data applied against a documented methodology; they neither represent the views of, nor constitute an endorsement by, Gartner or its affiliates.

            %p Gartner, Gartner Peer Insights ‘Voice of the Customer’: Enterprise Agile Planning Tools, Peer Contributors, 12 August 2019

        .col-md-4.col-md-offset-1
          %h2.margin-top0 Download the Voice of the Customer report
          .centered-form
            %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
            %form#mktoForm_1002
            :javascript
              MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1002, function(form) {
                form.onSuccess(function() {
                  form.getFormElem().hide();
                  $('.confirmform').attr('style', 'visibility: visible');
                  dataLayer.push({event: 'resources', mktoFormId: form.getId()});
                  return false;
                });
              });
        .confirmform{ style: "visibility:hidden;" }
          .col-md-4.col-md-4.col-md-offset-1
            %h3 <a href="https://www.gartner.com/doc/reprints?id=1-1OF99UBS&ct=190826&st=sb">Click here to download the report.</a>
            %p You will also receive an copy of the report sent to your inbox shortly.
